<!-- <div class="d-flex align-items-center justify-content-between mb-5">
  <div class="logo navbar-brand">
    <img src="./assets/img/logo.png" alt="">
  </div>
  <ul class="links navbar-nav d-flex align-items-center justify-content-between">
    <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" >Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/create" routerLinkActive="active" >Create Cv</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active" >Contact</a></li>
  </ul>
</div> -->

<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="">
    </div>
    <ul class="links d-flex align-items-center justify-content-between">
      <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
      <li><a routerLink="/create" routerLinkActive="active" >Create Cv</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" >Contact</a></li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg mb-5">
  <div class="container-fluid">
    <div class="logo navbar-brand">
      <img src="./assets/img/logo.png" alt="">
    </div>
    <button class="navbar-toggler btn-mobile-nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img class="icon-nav" src="./assets/img/icon-nav.png" alt="">
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="links navbar-nav d-flex align-items-center justify-content-between">
        <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" >Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/create" routerLinkActive="active" >Create Cv</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active" >Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
