<div class="d-flex align-items-center justify-content-around container-home">
  <div class="information d-flex flex-column align-items-start justify-content-center">
    <h2 class="mb-4">Welcome to Cv Builder!</h2>
    <p class="mb-4">Need help creating an employment CV?<br/>
      Well we can help you with simple steps.<br/>
      All you have to do is answer a few questions and we'll take care of the rest!</p>
      <div class="d-flex">
        <button class="btn-create">Create Cv</button>
      </div>
  </div>
  <div class="image">
    <img src="./assets/img/home-image.png" alt="">
  </div>
</div>
